flyworkstation.log
workstation.log
build
build_eclipse
target
dist
private
jacs/src/org/janelia/it/jacs/server/ie/jaxb
shared/src/org/janelia/it/jacs/shared/blast/blastxmlparser/jaxb
generated
buildprocess/intellij-make/
ConsoleApplication/SharedModelComputeWrapper/release/
ConsoleApplication/SharedModelComputeWrapper/src/jacs.properties
ConsoleApplication/ConsoleWrapper/src/jacs.properties
ConsoleApplication/ConsoleWrapper/release/modules/ext/compute-client.jar
ConsoleApplication/ConsoleWrapper/release/modules/ext/jacs-model.jar
ConsoleApplication/ConsoleWrapper/release/modules/ext/jacs-shared.jar
.metadata
.recommenders
ConsoleApplication/HortaTracer/*.log
.idea
*.iws
*.ipr
*~
.recommenders
ConsoleApplication/LargeVolumeViewerModule/doc/Datasources/
ConsoleApplication/LargeVolumeViewerModule/doc/Logs/
ConsoleApplication/LargeVolumeViewerModule/doc/Shapes/
.DS_Store
hs_err_pid*.log
