flyworkstation.log
workstation.log
build
build_eclipse
target
dist
private
jacs/src/org/janelia/it/jacs/server/ie/jaxb
shared/src/org/janelia/it/jacs/shared/blast/blastxmlparser/jaxb
ConsoleApplication/SharedModelComputeWrapper/release
ConsoleApplication/SharedModelComputeWrapper/src/jacs.properties
generated
buildprocess/intellij-make/
ConsoleApplication/SharedModelComputeWrapper/release
.metadata
.recommenders
ConsoleApplication/HortaTracer/*.log
.idea
*.iws
*.ipr
*~
.recommenders
ConsoleApplication/LargeVolumeViewerModule/doc/Datasources/
ConsoleApplication/LargeVolumeViewerModule/doc/Logs/
ConsoleApplication/LargeVolumeViewerModule/doc/Shapes/
.DS_Store
