<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="myCtrl">

    <p><span ng-bind="serverUrl"/></p>

    <div ng-show="isMode('initialize')">
        <h1>Loading...</h1>
    </div>

    <button ng-click="modeStateSummary()">State Summary</button>

    <button ng-click="getCurrentServices()">Current Services</button>

    <div ng-show="isMode('stateSummary')">
        <h1>State Summary {{stateCount}}</h1>
        <table>
            <tr>Created: {{stateSummary.createdCountString}}</tr>
            <tr>Submitted: {{stateSummary.submittedCountString}}</tr>
            <tr>Queued: {{stateSummary.queuedCountString}}</tr>
            <tr>Running: {{stateSummary.runningCountString}}</tr>
            <tr>Waiting: {{stateSummary.waitingCountString}}</tr>
            <tr>Canceled: {{stateSummary.canceledCountString}}</tr>
            <tr>Error: {{stateSummary.errorCountString}}</tr>
            <tr>Successful: {{stateSummary.successfulCountString}}</tr>
        </table>
    </div>

    <div ng-show="isMode('currentServices')">
        <h1>Current Services {{stateCount}}</h1>
        <p>count={{currentServices.length}}</p>
        <table>
            <tr ng-repeat="x in currentServices | orderBy:'id'">
                <td>{{x.id}}</td>
                <td>{{x.name}}</td>
                <td>{{x.jacsServiceClassName}}</td>
                <td>{{x.owner}}</td>
                <td>{{x.rootServiceId}}</td>
                <td>{{x.parentServiceId}}</td>
                <td>{{x.state}}</td>
                <td><button ng-click="getEventsForService(x)">Event History</button></form></td>
            </tr>
        </table>
    </div>

    <div ng-show="isMode('eventsForService')">
        <h1>Event History</h1>
        <table>
            <tr ng-repeat="x in eventsForService | orderBy:'timestamp'">
                <td>{{x.timestamp}}</td>
                <td>{{x.type}}</td>
                <td>{{x.value}}</td>
            </tr>
        </table>
    </div>

</div>


<script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function($scope, $http, $location, $interval) {

        $scope.serverUrl = "http://" + $location.host() + ":" + $location.port();

        //  $scope.serverUrl="http://h01u03.int.janelia.org:8180";

        $scope.mode="initialize";

        $scope.isMode = function(m) {
            if ($scope.mode == m) {
                return true;
            }
            return false;
        }

        $scope.switchToMode = function(m) {
            $scope.mode=m;
        }

        $scope.stateCount=0;
        $scope.retrieveOn=false;

        $scope.modeStateSummary = function () {
            $scope.retrieveOn=true;
            $scope.mode="stateSummary";
        }

        $scope.getStateSummary = function() {
            if ($scope.retrieveOn==true) {
                $scope.stateCount = $scope.stateCount + 1;
                $http.get($scope.serverUrl + "/rest-v1/jacsv2/stateSummary")
                    .then(function (response) {
                        $scope.stateSummary = response.data;
                    });
            }
        }

        $scope.getCurrentServices = function() {
            $http.get($scope.serverUrl+"/rest-v1/jacsv2/currentServices")
                .then(function(response) {
                    $scope.currentServices = response.data;
                    $scope.retrieveOn=false;
                    $scope.mode="currentServices";
                });
        }

        $scope.getEventsForService = function(x) {
            $scope.eventsForService=x.events;
            $scope.retrieveOn=false;
            $scope.mode="eventsForService";
        }

        var intervalFunction;
        intervalFunction=$interval( $scope.getStateSummary, 1000);

        // $scope.getStateSummary();

    });
</script>

</body>
</html>
