<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="myCtrl">

    <h1>Workspaces</h1>

    <table>
        <tr ng-repeat="x in workspaces | orderBy:'createTimestamp'">
            <td>{{x.ownerName}}</td>
            <td>{{x.name}}</td>
            <td>{{x.createTimeString}}</td>
            <td><button ng-click="analyzeWorkspace(x)">Analyze</button></td>
            <td>{{x.dataType}}</td>
            <td>{{x.neuronCount}}</td>
            <td ng-if="isOwnedByDeveloper(x)"><button ng-click="addArtificialNeurons(x)">Add</button></td>
            <td ng-if="isOwnedByDeveloper(x)"><form>Set Name<input type="text" ng-model="x.addName"></form></td>
            <td ng-if="isOwnedByDeveloper(x)"><form>Number<input type="text" ng-model="x.addNumber"></form></td>
            <td ng-if="isOwnedByDeveloper(x)"><form>Points<input type="text" ng-model="x.addPoints"></form></td>
            <td ng-if="isOwnedByDeveloper(x)"><form>BranchProb<input type="text" value="0.0" ng-model="x.addBranchProb"></form></td>
        </tr>
    </table>

</div>


<script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function($scope, $http) {

        $http.get("http://h01u03.int.janelia.org:8180/rest-v1/mouselight/workspaces")
            .then(function(response) {
                $scope.workspaces = response.data;
            });

        $scope.analyzeWorkspace = function(x) {
            $http.get("http://h01u03.int.janelia.org:8180/rest-v1/mouselight/workspaceInfo?id="+ x.idString)
                .then(function(response) {
                    x.dataType=response.data.dataType;
                    x.neuronCount=response.data.neuronCount;
                })
        }

        $scope.addArtificialNeurons = function(x) {
            $http.get("http://h01u03.int.janelia.org:8180/rest-v1/mouselight/workspaceAddArtificialNeurons?id="+
                x.idString+"&name="+x.addName+"&number="+x.addNumber+"&points="+x.addPoints+"&brprob="+x.addBranchProb)
                .then(function(response) {
                    x.neuronCount=response.data.neuronCount;
                })
        }

        $scope.isOwnedByDeveloper = function(x) {
            if (x.ownerName == 'user:murphys' ||
                x.ownerName == 'user:fosterl' ||
                x.ownerName == 'user:olbrisd' ||
                x.ownerName == 'user:brunsc') {
                return true;
            } else {
                return false;
            }
        }
    });
</script>

</body>
</html>

