<?xml version="1.0" encoding="UTF-8"?>

<configuration>

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>flyworkstation.log</file>
    <append>false</append>
    <encoder>
      <pattern>%date [%thread] %level [%logger] %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level [%logger] %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="org.janelia.it.FlyWorkstation" level="INFO"/>
  
  <logger name="org.janelia.it.FlyWorkstation.api" level="INFO"/>
  <logger name="org.janelia.it.FlyWorkstation.api.entity_model.management.EntityModel" level="INFO"/>
  
  <logger name="org.janelia.it.FlyWorkstation.model" level="INFO"/>
  
  <logger name="org.janelia.it.FlyWorkstation.gui" level="INFO"/>
  <logger name="org.janelia.it.FlyWorkstation.gui.framework.outline" level="INFO"/>
  
  <logger name="org.janelia.it.FlyWorkstation.gui.framework.tree.ExpansionState" level="INFO"/>
  
  <logger name="org.janelia.it.FlyWorkstation.gui.framework.viewer" level="INFO"/>
  <logger name="org.janelia.it.FlyWorkstation.gui.framework.viewer.DynamicImagePanel" level="INFO"/>
  <logger name="org.janelia.it.FlyWorkstation.gui.framework.viewer.ImagesPanel" level="INFO"/>
  <logger name="org.janelia.it.FlyWorkstation.gui.framework.viewer.IconDemoPanel" level="INFO"/>
  
  <logger name="org.janelia.it.FlyWorkstation.gui.framework.viewer.alignment_board" level="INFO"/>
  <logger name="org.janelia.it.FlyWorkstation.gui.framework.viewer.alignment_board.LayersPanel" level="INFO"/>
  <logger name="org.janelia.it.FlyWorkstation.gui.framework.viewer.alignment_board.OutlineExpansionState" level="INFO"/>
  <logger name="org.janelia.it.FlyWorkstation.gui.framework.viewer.alignment_board.AlignmentBoardViewer" level="INFO"/>
  
  <logger name="org.janelia.it.FlyWorkstation.shared.util" level="INFO"/>
  
  <logger name="org.janelia.it.jacs.shared.utils" level="INFO"/>
  
  <logger name="loci" level="WARN"/>
  
  <!--  perf4j loggers must be set to DEBUG to log performance benchmarks-->
  <logger name="org.janelia.it.FlyWorkstation.shared.util.Utils" level="INFO"/>
  <logger name="org.janelia.it.FlyWorkstation.gui.framework.viewer.LoadImageWorker" level="INFO"/>
  
  <!--
  <logger name="org.janelia.it.FlyWorkstation.shared.util.filecache" level="DEBUG"/>
  -->
  
  <!-- Strictly speaking, the level attribute is not necessary since -->
  <!-- the level of the root level is set to DEBUG by default.       -->
  <root level="INFO">          
    <appender-ref ref="STDOUT" />
    <appender-ref ref="FILE" />
  </root>  
  
</configuration>
